{% extends "base.html" %}
{% block title %} / 論壇{% endblock %}
{% block content %}
<main>
    <form id="new-post" name="logined-element" action="javascript:;" onsubmit="return SubmitNewPost(this);">
        <input field="title" type="text" placeholder="標題"><br>
        <textarea field="content" cols="30" rows="10"></textarea>
    
        <input type="submit" value="送出">
    </form>
    
    <div data-bind="foreach: visiblePosts">
        <div data-bind="html: formated()"></div>
    </div>
</main>
{% endblock %}
{% block js %}
<script>
    AddAutoRenewStaticFiles([
        "/static/page_specific/forum.js",
    ]);
</script>
{% endblock %}