{% extends "base.html" %}
<!-- {% block title %}{% endblock %} -->
{% block css %}
<style>
    input {
        border-radius: 5px;
        width: 300px;
        height: 30px;
        border: none;
        padding: 5px;
    }

    button {
        border-radius: 5px;
        width: 100px;
        height: 40px;
        border: none;
        font-weight: 700;
        font-size: 14px;
        font-family: monospace;
        cursor: pointer;

    }

    button.yellow {
        background: #F5B803;
        color: black;
    }

    button.red {
        background: #C32126;
        color: white;
    }

    /* #E71C44 */

    button.yellow:hover {
        background: #e2ab06;
    }

    button.red:hover {
        background: #aa1c21;
    }
</style>
{% endblock %}
{% block content %}
<main>
    <input id="email" type="text" placeholder="Email">
    <button class="yellow" onclick="AddSubscription()">送出</button>
    
    <br><br>
    <button class="red" onclick="DeleteAllSubscription();">刪除所有</button>
    
    <ul data-bind="foreach: visibleSubscriptions">
        <li data-bind="html: formated()"></li>
    </ul>
</main>
{% endblock %}
{% block js %}
<script>
    AddAutoRenewStaticFiles([
        "/static/page_specific/index.js",
    ]);
</script>
{% endblock %}