{% extends "base.html" %}
{% block title %} / 登入{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<main>
    <!-- 6Lfouw0aAAAAAGnQn18bgKnIUemtEAzwYiX0rWIq -->

    <form id="signup" class="fancy" action="javascript:;" onsubmit="return SubmitSignup(this);">
        <input field="login_id" type="text" placeholder="註冊帳號"><br>
        <input field="password" type="password" placeholder="密碼"><br>
        <input field="email" type="text" placeholder="Email"><br>
        <input field="nickname" type="text" placeholder="匿稱"><br>
    
        <input type="submit" value="註冊">
    </form>
    
    <br><br><br>
    
    <form id="login" class="fancy" action="javascript:;" onsubmit="return SubmitLogin(this);">
        <input field="login_id" type="text" placeholder="登入帳號"><br>
        <input field="password" type="password" placeholder="密碼"><br>
    
        <input type="submit" value="登入">
    </form>
</main>
{% endblock %}
{% block js %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/static/sha256.js"></script>
<script>
    AddAutoRenewStaticFiles([
        "/static/page_specific/login.js",
    ]);
</script>
{% endblock %}